* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

.thumb-set {
  width: 600px;
  display: flex;
  padding: 0.5em;
  justify-content: center;
  gap: 10px;
}
.thumb{
  background-color: white;
  font-size: 0;
}
.thumb-filter{
  filter:opacity(0.3)
}
.main {
  background-image: url('./images/bg-img.jpg');
  background-position: center center;
  height: 100vh;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(90, 90, 90, 0.5);
  display: grid;
  place-items: center;
}
#gallery {
  width: 600px;
  position: relative;
}
.switch-btn{
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content:center;
  border-radius:50px;
  cursor: pointer;
}

.next-btn{
  right: -20px;
  top: 50%;
}
.prev-btn{
  left: -20px;
  top: 50%;
}
